.idea/workspace.xml
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/local.properties
android
backend/.gitignore
backend/.env
.env
.dart-dart_tool
.dart_tool
.idea
android

frontend/.dart_tool
frontend/android
frontend/build
frontend/.gitignore
frontend/ios
frontend/linux
frontend/macos
frontend/windows
frontend/web
ios
macos
build
frontend/android/
